<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa no Mercado Livre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}
">
</head>
<body>
    <div class="container">
        <h1>Pesquisar no Mercado Livre</h1>
        <form method="POST" onsubmit="mostrarLoading()">
            <input type="text" name="produto" placeholder="Digite o produto..." required>

            <button id="btn-pesquisar" type="submit">Pesquisar</button>

            <div id="loading" style="display: none;">
                <div class="spinner"></div>
                <p>Consultando produto...</p>
            </div>
        </form>
    </div>

<script>
    function mostrarLoading() {
        document.getElementById("btn-pesquisar").style.display = "none";
        document.getElementById("loading").style.display = "block";
    }
</script>
</body>
</html>